body{
	background: url('backgroung.jpg');
	background-size: cover;
	background-attachment: fixed;

}
a{
	outline: none;	
}
input{
	outline: none;
}
.header{
	background-color:rgb(56, 34, 28,0.7);
	border-radius: 5px;
	color:white;
	position: sticky;
}

.header a{
	color: white;
	text-decoration-line: none;
}

.header-li{
	display:inline-block;
	font-size: 20px;
	padding:20px;	
}
#logout{
	float: right;
}

.addnote-btn{
	text-align: center;
}

.notes-section{
	columns: 2;
}
#one-note{
	background-color: rgb(56, 34, 28,0.8);
	color: white;
	padding:10px;
	width: 570px;
	margin:15px;
	border-radius: 2px;
	display: inline-block;
}

#form-section{
	display: none;
	margin:30px auto;
	width: 600px;
	text-align: center;
	background-color: rgb(56, 34, 28,0.8);
}
#new-note-input{
	height: 400px;
	width:580px;
	margin: 3px 0;
	padding: 10px;
	background-color: transparent;
	color:white;
	border:none;
	outline: none;
}
#form-submit{
	background-color: transparent;
	font-size: 24px;
	border:none;
	cursor: pointer;
	color:rgb(255,255,255,0.6);
	margin: 10px;
}
#add-note{
	background-color: transparent;
	font-size: 24px;
	border:none;
	cursor: pointer;
	color:rgb(56, 34, 28);
	padding:10px;
}


#time{
	font-size: 12px;
	margin: 3px;
}

#one-note a{
	text-decoration-line: none;
	color: white;
	margin: 5px;
}
@media only screen and (max-width: 2000px){
	.notes-section{
		columns: 1;
	}

}
#login-comment{
	font-size: 24px;
	color: white;
	margin:5px auto;
}
